.col{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 50px;
    background-color: bisque;
    
}
h1{
    display: flex;
    justify-content: center;
}
.form{
    margin: 20px 20px;
}
.form2{
    margin: 20px 20px;
}